body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e6fa; /* Color morado pastel */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcccb; /* Color rosa pastel */
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 2.5em;
    margin: 0;
}

.divider {
    background-color: #ffb6c1; /* Otro tono de rosa pastel */
    padding: 0 10px;
}

nav {
    background-color: #ffcccb; /* Color rosa pastel */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.post {
    background-color: #fff0f5; /* Color pastel */
    width: 80%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.post-image {
    width: 20%;
    height: auto;
}

.post-content {
    padding: 20px;
    width: 60%;
    position: relative;
}

h2 {
    margin-top: 0;
    color: #555;
}

footer {
    background-color: #ffcccb;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}